version: '3.11'
services:
  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - data:/data/db
  # node:
  #   image: node:16-alpine3.14
  #   ports:
  #     - 3001:3001
  #   environment:
  #     - MONGO_URL: mongodb://root:root@mongodb:27017
  #     - PORT: 3001
  #   volumes:
  #     -

volumes:
  data:
